<div class="card">
    <div class="flex justify-between mb-6">
        <div class="font-bold text-2xl">SMS Content Management</div>
    </div>
    <div class="mb-3">
        <div class="flex justify-end">
            <p-button severity="primary" label="Create content" (onClick)="open()" />
        </div>
    </div>
    <p-table #dt1 [value]="smsContents" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
        [loading]="isLoading" [rowHover]="true" [showGridlines]="true" [paginator]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Total: {totalRecords}" [showCurrentPageReport]="true">
        <ng-template #header>
            <tr>
                <th style="min-width: 12rem">Package</th>
                <th style="min-width: 12rem">Type</th>
                <th style="min-width: 12rem">Language</th>
                <th style="min-width: 12rem">Content</th>
                <th style="min-width: 12rem">Status</th>
                <th style="min-width: 12rem">Created Date</th>
                <th style="width: 120px">Actions</th>
            </tr>

        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td>{{ item.offerCode }}</td>
                <td>{{ item.messageType }}</td>
                <td>{{ item.language }}</td>
                <td>{{ item.messageContent }}</td>
                <td>
                    <p-tag [severity]="item.isActive ? 'success' : 'secondary'"
                        [value]="item.isActive ? 'Active' : 'Inactive'" />
                </td>
                <td>{{ parseDate(item.createdAt) | date: 'MM/dd/yyyy' }}</td>
                <td style="text-align: center;">
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                        (onClick)="getSmsContentForEdit(item.id)" />
                    <p-button icon="pi pi-trash" severity="danger" class="mr-2" [rounded]="true" [outlined]="true"
                        (click)="openDelete(item.id)" />
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="7" style="text-align: center; padding: 32px 0;">No data available.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="7" style="text-align: center; padding: 32px 0;">Please wait...</td>
            </tr>
        </ng-template>

    </p-table>
    <p-dialog [header]="isEdit ? 'Edit SMS Content' : 'Create New SMS Content'" [(visible)]="display"
        [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [modal]="true" class="dialog-custom">
        <form class="grid gap-4">
            <div class="grid gap-4">
                <div>
                    <label for="offerCode" class="block text-sm font-medium text-gray-700 mb-1">Package</label>
                    <p-dropdown id="offerCode" [options]="bundleOffers" optionLabel="vasCode" optionValue="vasCode"
                        class="w-full" [class.ng-dirty]="fieldErrors.offerCode" placeholder="Select a package"
                        [class.ng-invalid]="fieldErrors.offerCode" name="offerCode" [(ngModel)]="smsBody.offerCode"
                        *ngIf="packages.length === 0">
                    </p-dropdown>
                    <p-dropdown id="offerCode" [options]="packages" optionLabel="name" optionValue="name" class="w-full"
                        [class.ng-dirty]="fieldErrors.offerCode" placeholder="Select a package"
                        [class.ng-invalid]="fieldErrors.offerCode" name="offerCode" [(ngModel)]="smsBody.offerCode"
                        *ngIf="packages.length > 0">
                    </p-dropdown>
                </div>
                <div>
                    <label for="messageType" class="block text-sm font-medium text-gray-700 mb-1">SMS Type</label>
                    <p-dropdown [(ngModel)]="smsBody.messageType" [options]="categories" optionLabel="name"
                        optionValue="name" placeholder="Select SMS type" name="messageType" class="w-full"
                        [class.ng-dirty]="fieldErrors.messageType" [class.ng-invalid]="fieldErrors.messageType"
                        (onChange)="onMessageTypeChange($event)" />
                </div>
                <div>
                    <label for="language" class="block text-sm font-medium text-gray-700 mb-1">Language</label>
                    <p-dropdown id="language" [options]="languageOptions" optionLabel="label" optionValue="value"
                        class="w-full" [class.ng-dirty]="fieldErrors.language" [class.ng-invalid]="fieldErrors.language"
                        name="language" placeholder="Select language" [(ngModel)]="smsBody.language">
                    </p-dropdown>
                </div>
                <div>
                    <label for="shortCode" class="block text-sm font-medium text-gray-700 mb-1">Short code</label>
                    <input pInputText id="shortCode" type="text" class="w-full" name="shortCode"
                        [(ngModel)]="smsBody.shortCode" (keypress)="onlyNumbers($event)"
                        [class.ng-dirty]="fieldErrors.shortCode" [class.ng-invalid]="fieldErrors.shortCode" />
                </div>
                <div>
                    <label for="messageContent" class="block text-sm font-medium text-gray-700 mb-1">Content</label>
                    <textarea pTextarea placeholder="Write content..." [autoResize]="true" rows="3" cols="30"
                        name="messageContent" class="w-full" [class.ng-dirty]="fieldErrors.messageContent"
                        [class.ng-invalid]="fieldErrors.messageContent" [(ngModel)]="smsBody.messageContent"></textarea>
                </div>
                <!-- <div>
                <label for="isActive" class="block text-sm font-medium text-gray-700 mb-1">Activate</label>
                <p-toggleswitch [(ngModel)]="isActive" name="isActive" />
            </div> -->
            </div>
        </form>
        <ng-template pTemplate="footer">
            <p-button label="Cancel" (click)="close()" styleClass="p-button-text" [disabled]="loading">
            </p-button>
            <p-button label="Save" styleClass="w-full" [loading]="loading" [disabled]="loading" icon="pi pi-check"
                [loadingIcon]="loading ? 'pi pi-spinner pi-spin' : ''" (onClick)="createSmsContent()"></p-button>
        </ng-template>
    </p-dialog>

</div>
<p-dialog header="Confirmation" [(visible)]="displayConfirmation" [style]="{ width: '350px' }" [modal]="true">
    <div class="flex items-center justify-center">
        <i class="pi pi-exclamation-triangle mr-4" style="font-size: 2rem"> </i>
        <span>Are you sure you want to proceed?</span>
    </div>
    <ng-template #footer>
        <p-button label="No" icon="pi pi-times" text severity="secondary" (click)="openDelete()" />
        <p-button label="Yes" icon="pi pi-check" severity="success" outlined autofocus (onClick)="deleteSmsContent()" />
    </ng-template>
</p-dialog>
<p-toast />