<div class="card">
    <div class="flex justify-between mb-6">
        <div class="font-bold text-2xl">Partners Management</div>
        <div class="flex">
            <p-button icon="pi pi-plus" severity="primary" class="mr-4" (click)="open()" />
            <p-button icon="pi pi-download" severity="primary" class="mr-4" />
            <p-iconfield iconPosition="left">
                <input pInputText type="text" placeholder="Search" />
                <p-inputicon class="pi pi-search" />
            </p-iconfield>
        </div>
    </div>
    <p-table #dt1 [value]="partners" dataKey="id" [rows]="5" [rowsPerPageOptions]="[5, 10, 25, 50]" [loading]="loading"
        [rowHover]="true" [showGridlines]="true" [paginator]="true" responsiveLayout="scroll">
        <ng-template #header>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Url</th>
                <th>Body</th>
                <th>Total Campaigns</th>
                <th>Active Campaigns</th>
            </tr>
        </ng-template>
        <ng-template #body let-partner>
            <tr>
                <td>{{ partner.name }}</td>
                <td>{{ partner.code }}</td>
                <td>{{ partner.url }}</td>
                <td>{{ partner.body }}</td>
                <td>{{ partner.totalCampaigns }}</td>
                <td>{{ partner.activeCampaigns }}</td>
                <!-- <td style="text-align: center;">
                    <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                        (click)="getCampaignContentForEdit(campaign.id)" />
                    <p-button icon="pi pi-trash" severity="danger" class="mr-2" [rounded]="true" [outlined]="true"
                        (click)="openDelete(campaign.id)" />
                    <p-button icon="pi pi-shield" severity="help" [rounded]="true" [outlined]="true"
                        (click)="openApprove(campaign.id)" />
                </td> -->
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="6" style="text-align: center; padding: 32px 0;">Không có dữ liệu.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="6" style="text-align: center; padding: 32px 0;">Vui lòng chờ...</td>
            </tr>
        </ng-template>
    </p-table>

    <p-dialog header="Create new partner" [(visible)]="display" [breakpoints]="{ '960px': '75vw' }"
        [style]="{ width: '30vw' }" [modal]="true" class="dialog-custom">
        <form class="grid gap-4">
            <div class="grid gap-4">
                <div>
                    <label for="name" class="block text-sm font-medium text-gray-700 mb-1">Name</label>
                    <input pInputText id="name" type="text" class="w-full" [class.ng-dirty]="fieldErrors.name"
                        [class.ng-invalid]="fieldErrors.name" name="name" [(ngModel)]="partnerData.name" />
                </div>
                <div>
                    <label for="code" class="block text-sm font-medium text-gray-700 mb-1">Code</label>
                    <input pInputText id="code" type="text" class="w-full" [class.ng-dirty]="fieldErrors.code"
                        [class.ng-invalid]="fieldErrors.code" name="code" [(ngModel)]="partnerData.code" />
                </div>
                <div>
                    <label for="url" class="block text-sm font-medium text-gray-700 mb-1">Url</label>
                    <input pInputText id="url" type="text" class="w-full" [class.ng-dirty]="fieldErrors.url"
                        [class.ng-invalid]="fieldErrors.url" name="url" [(ngModel)]="partnerData.url" />
                </div>
                <div>
                    <label for="body" class="block text-sm font-medium text-gray-700 mb-1">Body</label>
                    <textarea pTextarea placeholder="Write body..." [autoResize]="true" rows="3" cols="30" name="body"
                        class="w-full" [class.ng-dirty]="fieldErrors.body" [class.ng-invalid]="fieldErrors.body"
                        [(ngModel)]="partnerData.body"></textarea>
                </div>
            </div>
        </form>
        <ng-template #footer>
            <p-button label="Cancel" severity="secondary" (click)="close()" />
            <p-button label="Save" (click)="createPartner()" />
        </ng-template>
    </p-dialog>
</div>
<p-toast />