<div class="card">
    <div class="flex justify-between mb-6">
        <div class="font-bold text-2xl">Remaining credit</div>
    </div>
    <div class="mb-3">
        <div class="flex justify-end gap-3">
            <input type="text" pInputText [(ngModel)]="msisdn" placeholder="Enter phone number" />
            <p-button severity="secondary" icon="pi pi-search" (onClick)="getremainingCredit()" />
            <p-button severity="secondary" icon="pi pi-download" (onClick)="exportremainingCredit()" />
        </div>
    </div>
    <p-table #dt1 [value]="data" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
        [rowHover]="true" [showGridlines]="true" [paginator]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Tổng cộng: {totalRecords}" [showCurrentPageReport]="true">
        <ng-template #header>
            <tr>
                <th>Subscriber Number</th>
                <th>Offer Name</th>
                <th>Loan Date/Time</th>
                <th>Last Repayment Date</th>
                <th>Last Repayment Amount</th>
                <th>Total Loan Amount</th>
                <th>Remaining Credit Amount</th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td>{{ item.msisdn }}</td>
                <td>{{ item.packageName }}</td>
                <td>{{ parseDotNetDate(item.loanDate) | date: 'MM/dd/yyyy' }}</td>
                <td>{{ parseDotNetDate(item.lastPaybackDate) | date: 'MM/dd/yyyy' }}</td>
                <td>{{ item.lastPaybackAmount | number }}</td>
                <td>{{ item.totalLoanAmount | number }}</td>
                <td>{{ item.remainingCreditAmount | number }}</td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="7" style="text-align: center; padding: 32px 0;">No data available.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="7" style="text-align: center; padding: 32px 0;">Please wait...</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-toast />